<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDjvFgvkmgT1ddzJwexzRxdyX-3xFJgTFo</string>
	<key>GCM_SENDER_ID</key>
	<string>457680551481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.parthdasawant.rapiddtodos.rapiddTodos</string>
	<key>PROJECT_ID</key>
	<string>rapidd-todos</string>
	<key>STORAGE_BUCKET</key>
	<string>rapidd-todos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457680551481:ios:2c7ec8647fe7618b6757e8</string>
</dict>
</plist>